<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Change Status</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${rentApplication}">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title" th:text="${rentApplication.property.typeOfProperty + ' ' + rentApplication.property.property_profile.address}"></h4>
                <p class="card-text" th:text="'Application status is ' + ${rentApplication.status}"></p>
            </div>
            <form th:action="@{/rent-applications/change-status/{cid}(cid=${rentApplication.getId()})}" method="post" th:object="${rentApplication}">
                <div>
                    <label for="status"> Status: </label>
                    <select id="status" name="status" th:field="*{status}">
                        <option th:each="type : ${status.values()}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
