<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Renters</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${ not#lists.isEmpty(renters)}">
        <table class="table mt-5">
            <thead>
            <tr>
                <th> First name</th>
                <th> Last name </th>
                <th> Email </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="renter: ${renters}" th:if="${renter.user != null}">
                <td th:text="${renter.user.firstname}"></td>
                <td th:text="${renter.user.lastname}"></td>
                <td th:text="${renter.user.email}"></td>
                <td>
                    <a class="btn btn-primary" th:href="@{'renter/' + ${renter.id}}"> Details </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(renters)}" style="margin-top: 6rem">
        No renters found!
    </div>
</div>
</body>
</html>
