<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Renter</title>
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${renter}">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title" th:text="${renter.user.firstname + ' ' + renter.user.lastname}"></h4>
                <p sec:authorize="hasRole('ROLE_ADMIN')" class="card-text" th:text="'Renter id is: '+ ${renter.id}"></p>
                <p class="card-text" th:text="'Renter username is: '+ ${renter.user.username}"></p>
                <p class="card-text" th:text="'Renter email is: '+ ${renter.user.email}"></p>
                <p sec:authorize="hasRole('ROLE_ADMIN')" class="card-text" th:text="'Renter roles are: '+ ${renter.user.roles}"></p>
                <ul>
                    <a th:text="'Renter properties: '" style="font-weight: bold"></a>
                    <li th:if="${renter.properties != null and not #lists.isEmpty(renter.properties)}"
                        th:each="property: ${renter.properties}">
                        <a th:href="@{/property/{id}(id=${property.id})}" th:text="'Property with id: ' + ${property.property_profile.id}"
                           style="color: black"></a>
                    </li>
                    <li th:if="${renter.properties ==null or #lists.isEmpty(renter.properties)}">
                        Renter has no property!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
